version: "3.9"
services:
  joinus_db:
    image: mysql:8.0
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    restart: always
    networks:
      - backend

  backend:
    build:
      context: .
    ports:
      - "443:8000"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - NCLOUD_ACCESS_KEY=${NCLOUD_ACCESS_KEY}
      - NCLOUD_SECRET_KEY=${NCLOUD_SECRET_KEY}
    restart: always
    networks:
      - backend

volumes:
  db-data:

networks:
  backend:
